{% extends "base.html" %}
{% block content %}



<div class="container" style="float:left">
  <h2>Оцененные фильмы:</h2>

  <table id="rated_movies" class="tables">
    <thead style="font-weight:bold">
      <tr>
        <th scope="col">Название</th>
        <th scope="col">Рейтинг</th>
        <th scope="col">Сменить рейтинг на</th>
        <th scope="col">Удалить оценку</th>
    </tr>
    </thead>
    <tbody>
      <tbody>
        {%for rating in movies_list %}
        <tr>
          <td> {{rating.title}} </td>
          <td> {{rating.rating}} </td>
          <td>
            <a href="/profile/change_rating/{{rating.id}}/0">0</a>
            <a href="/profile/change_rating/{{rating.id}}/1">1</a>
            <a href="/profile/change_rating/{{rating.id}}/2">2</a>
            <a href="/profile/change_rating/{{rating.id}}/3">3</a>
            <a href="/profile/change_rating/{{rating.id}}/4">4</a>
            <a href="/profile/change_rating/{{rating.id}}/5">5</a>
           </td>
          <td> <a href="/profile/remove_rating/{{rating.id}}">Удалить</a></td>
        </tr>
        {%endfor%}
    </tbody>
  </table>

</div>
{% endblock %}
